<div class="header">
    {%  section  'header' %}
</div>

<div class="main-content">
    {%  section  'hero-banner' %}
    {% section 'featured-products' %}
    {% section 'testimonials' %}
</div>

<div class="footer">
    {% section 'footer' %}
</div>